# ignoramos archivos de la base de datos
#*.sql
#/SqlDDBB

// se ignora .env porque si lo subimos al githhub nuestro proyecto queda expuesto
.env

#ignorar carpeta de node modules
node_modules/
/uploads
/node_modules

// scripts de aprendisaje que estan fuera del proyecto
js/noTomarEnCuenta.js

js/pruebaScriptsServices.js

js/scripts.js

js/scriptAnuncios.js


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


