@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
/* nos permite traer los iconos de la lista */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type:none;
}

body{
  font-family: "Open Sans", sans-serif;
  /*background-image: url(/css/ImageAntaresWeb/fondo.jpg);*/
  background-size: cover; /* la imagen cubra toda el área */ 
  background-position: center; /* Centra la imagen en la pantalla */ 
  background-repeat: no-repeat;
  background-color: #ffffff;
}

/* Index*/

.portada {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.menu-icono{
  display: none;
}

.menu-container {
  position: sticky;
  position: -webkit-sticky;
  align-items: center;
  justify-content: center;
  height: auto;/*aprox 115px*/
  background-color: rgb(255, 255, 255);
  width: 100%;
  top:0;
  z-index: 10; 
  /*el z-index determina el nivel de apilamiento 
  de los elementos posicionados, controla que 
  elemento se superpone a otro por su valor */
}

.checkbox {
  display: none;
}

/*pre barra de navegacion*/

.mini-content-portada {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.isotipo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.isotipo img {
  height: 60px;
}

.direccion-spot {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  min-width: 400px;
}

.direccion-spot img{
  height: 40px;
}

.direccion-spot a{
  color: #003064;
  font-weight: 500;
}

.direccion-spot a:hover{
  color: #ffb50a;
}

.contain-button-indice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.contain-button-indice a{
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
}

.button-indice {
  border-radius: 25px;
  margin-right: 20px;
  padding: 10px;
  background-color: #003064;
  border:3px solid #003064;
}

.button-indice:hover{
  background-color: #ffb50a;
  border:3px solid #ffb50a;
}


/*barra de navegacion*/

.content-navbar {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #fff4f7;
  height: 35px;
  border-radius: 10px;
}

.navbar {
  margin-top: 30px;
  padding-bottom: 20px;
}

.navbar ul {
  margin-top: -8px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  list-style-position: inside; 
  text-align: center;
  align-items: center;
}

.navbar li {
  display: inline;/*los enlaces de tipo texto los convertimos en bloque para que el margin y padin se a;adan*/
  margin-right:20px;
  position: relative;
  text-align: center;
}

/*fijarse la letra con respecto a la resolucion de la pantalla*/

.navbar a{
  color: #003064;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
}

/*after: selecciona el elemento navbar y agrega un copntenido despues, le añade dinamismo */

.navbar ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: -2px;
  right: 0;
  background: #ffffff;
  transition: width 0.3s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
  left: 0;
  background: #ffb50a;
}



/*esta es la imagen del logo de la empresa en la barra de navegacion*/
.img-menu-login{
  width: 120px;
  height: 70px;
  margin-top: 15px;
}

/* Estilos personalizados para la barra de desplazamiento */ 

::-webkit-scrollbar { 
  width: 10px;
  
} 

::-webkit-scrollbar-track { 
  background: #f3f9ff; 
} 

::-webkit-scrollbar-thumb { 
  border-radius: 10px; border: 
  3px solid  #ffb50a ; 
} 

::-webkit-scrollbar-thumb:hover { 
  background-color: #ffb50a; 
}


/*registro y login*/

.body-image-registro {
  background-image: url(/css/Imagenes/eclipse-24.png);
  background-size: cover;
}

.body-image-login {
  background-image: url(/css/Imagenes/eclipse-23.png);
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
}

.form-container {
  display: flex;
  height: auto;
  margin: 10px;
}

/*width = ancho, height = alto*/

.imageSingup img {/*esta es la imagen de registro y login*/
  width: 100%;
  min-width: 800px;
  height: 450px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: cover;
}

.imageSingup img{
  width: 100%;
  min-width: 800px;
  height: 450px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: cover;
}
/*formulario de registro*/

.form {
  width: 50%;
  height: 450PX;/*height: 25px;*/
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-left:20px; /*marginleft 20px para registro y margin rigth 20px para login*/
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 40px;
}

.form-login {
  margin-left: 40px;
  width: 50%;
  height: 450px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-right: 20px; /*marginleft 20px para registro y margin rigth 20px para login*/
  justify-content: center;
  text-align: center;
}

.form h2 {
  text-align: center;
  color: #003064;
  font-size: 2.5rem;
  margin:20px 20px;
}

.form-login h2 {
  text-align: center;
  margin:20px 20px;
  color: #003064;
  font-size: 2.5rem;
}

.form label, .form a, .form-login label, .form-login a {
  color: #003064;
  font-size: 1rem;
}

.terminos-condiciones input, 
.terminos-condiciones label {
  display: flex;
  align-items: flex-start; /* alinea verticalmente los elementos */
  margin-bottom: 10px;
  font-size: 1rem;
}

.form a:hover, .form-login a:hover{
  color: #ffb50a;
}


#correoElectronico, #password{
  justify-content: center;
  width: 70%;
  height: 30px;
  padding: 10px;
  margin: 15px 10px;
  border: none;
  border-bottom: 1.5px solid #003064;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(215, 9, 9, 0.005);
  color: #003064;
  outline: none;
}

/*mensaje en el input password*/
#password{
  width: 59%;
  margin-left: -30px;
}

#correoElectronico:hover,
#password:hover{
  border-color: #ffb50a;
  outline: none;
}

.toggle-btn{ /*es el btn donde se mostrara el mensaje Mostrar o Ocultar, para registro y login*/ 
  position: absolute;
  margin-left: -15px;
  margin-top: 10px;
  background:none;
  cursor:pointer;
  font-size: 1rem;
  outline: none;
  border: none;
  color: #003064;
  font-weight: 600;
}

.toggle-btn:hover{
  color: #ffb50a;
}

.select-option{
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.select-option label{
  color: #003064;
  margin-right: 15px;
}

.campoRol {
  width: 110px;
  padding-left: 5px;
  border: none;
  border-bottom: 1.5px solid #003064;
  border-radius: 5px;
  font-size: 1rem;
  color: #003064;
  appearance: none; /* Para ocultar el icono por defecto */ 
  -webkit-appearance: none; 
  -moz-appearance:none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.005);
  cursor: pointer;
}


/* aplicar estilos a los options, se busca que se vea minimalista*/
.campoRol option {
  background-color: rgba(255, 233, 204, 0.621);
  color: #003064;
  font-size: 1rem;
  padding: 0 10px;
  cursor: pointer;
}

select:hover {
  border-color: #ffb50a;
  outline: none;
}

.error-msg-registro{
  color: #ba0606;
  height: 25px;
}

.btn-submit,
.btn-submit-login {
  width: 200px;
  height: 40px;
  color: #285fc5;
  border:3px solid #285fc5;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
}

.div-texto-validacion{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: auto;
  padding: 5px 0;
}

/*validacion de login*/
.texto-validacion-login{
  height: 25px;
  width: 300px;
  color: #ba0606;
}

.btn-submit:hover {
  border:3px solid #ffb50a;
  transition: 0.5s;
  color: #ffb50a;
}

.btn-submit-login:hover {
  border:3px solid #ffb50a;
  color: #ffb50a;
  transition: 0.5s;
}

.form .login-link {
  display: block;
  text-align: center;
}

.form-login .login-link {
  display: block;
  text-align: center;
}


.or {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
}

.or-login {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
}

.O {
  margin: 0 10px;
  color: #003064;
}

.linea-div {
  max-width: 200px;
  flex-grow: 1;
  height: 1px;
  background-color: #003064;
}

.color3 {
  color: #003064;
}

/*inicia secion link spam*/
.color4 {
  color: #285fc5;
}

.color4:hover{
  color: #ff7b00;
}

/*notificacion de envio de formulario*/
.notificacion {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0059ff;
  color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 48, 100, 1);
  display: none;
}

/*portada se refiere a la imagen y la info con en boton*/
/*carusel*/

.Content-Carousel {
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-image: url(/css/Imagenes/eclipse-2.png);
  background-size:cover;
  margin-top: -25px;
}

.transparency {
  background-color: rgba(255, 250, 250, 0.3);
  height: 480PX;
  
}

.carousel {
  margin: 30px 30px 30px 30px;
  width: 95%;
  height: 460px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.carousel-images img {
  width: 100%;
  display: none;
}

.carousel-images img.active {
  display: block;
}

.portada-info {
  display: flex;
  margin-left: 140px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 90px 0px 0px;
  margin-top: -600px;
}

.tittle{
  margin-top: 230px;
}

.portada-info h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: #ffffff;
}

.portada-info h1:hover{
  color: #ffa200;
  transition: 0.9s;
}

.portada-info h4{
  font-size: 2rem;
  color: #ffffff;
}

.portada-info h2{
  color: white;
}

.btn-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px;
  width: 250px;
  margin-top: 200px;
  margin-right: 20px;
}

.btn-info button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid #ffffff00;
  cursor: pointer;
}

.infoAlcance {
  font-size: 1.5rem;
  font-weight: 200;
  justify-content: center;
  align-items: center;
}

.unclick {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.btn-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
}

.btn-info button:hover{
  border: 1px solid #ffffff00;
}

.btn-info a:hover{
  color: #f8ad2b;
  transition: 0.9s;
}

/* Seccion Sobre nosotros*/
#sobreNosotros{
  scroll-margin-top: 50px; /* Ajusta según el alto de tu navbar */
}

.sobre-nosotros {
  text-align: center;
  margin: 40px 0;
  padding: 20px 0;
  margin-top: 20px;
  background-image: url(/css/Imagenes/eclipse-26.png);
  background-size:cover;
  height: 600px;
  align-content: center;
}

.sobre-nosotros h2{
  margin: 5px 0px;
  color: #003064;
  font-size: 2.5rem;
}

.sobre-nosotros h3 {
  color: #003064;
  font-size: 1.2rem;
}

/*padre de las notas*/
.content-notes{
  margin-top: 50px;
  display: flex;
  padding: 10px 20px  5px 40px;
  height: auto;
  gap: 20px;
  justify-content: center;
  margin: 20px 5px 20px 5px;
  flex-wrap: wrap;
}

.notes {
  display: flex;
  /*para que ocupe varias lineas y no una sola*/
  background-color: rgba(255, 255, 255, 0.5);
  width: 370px;
  height: 220px;
  border-radius: 20px;
  color: #003064;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}


.notes:hover{
  box-shadow: 3px 3px 7px #ffa200;
  transition: 0.7s;
}

.notes h4 {
  font-size: 1.2rem;
  margin: 10px 0px;
}

.notes p{
  font-size: 0.8rem;
}

.notes img {
  width: 80px;
  height: 80px;
}


/*Historia*/
#nuestraHistoria {
  align-content: center;
  height: 700px;
}

#h2-tittle{
  scroll-margin-top: 120px; /* Ajusta según el alto de tu navbar */
}

.historia {
  background-image: url(/css/Imagenes/eclipse-22.png);
  background-size: cover;
  margin: 5px 0px;
}

.historia-transparency {
  display: flex;
  margin: 0px 70px;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.5);
  align-content: space-between;
  border-radius: 50px;
  height: auto;
}

.historia-content {
  display: block;
  margin: 0 60px 0  0;
  align-items: center;
}

.historia-content-img {
  border-radius: 50px;
  width: 400px;
  height: 440px;
  margin-left: 20px;
  margin: 10px;
}

.historia-content h2{
  color: #ffa200;
  font-size: 2.5rem;
}

.historia-content h3 {
  font-size: 2rem;
  color: #003064;

}

.historia-content p{
  font-size: 0.9rem;
  margin-bottom: 30px;
  text-align: justify;
  margin-right: 30px;
  color: #003064;
}

.p1 {
  font-weight:bolder;
  text-align: justify;
  color: #003064;
}

.historia-content-content{
  display:inline-block;
  justify-content: space-around;
  margin-top: 10px;
  color: #003064;
}

/*Logo ws*/
.logo-ws {
  position: fixed;/* mantiene el logo pegado a una parte especifica */
  bottom: 50px;
  right: 75px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block; /* Asegura que se muestren dentro de la sección */
}

/*flecha */

.flecha {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 855px;
  right: 1500px;
}

/*Servicios*/

#servicios {
  scroll-margin-top: 110px; /* Ajusta según el alto de tu navbar */
  display: block;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

.content-h2{
  display: block;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-position:right;
  height: 200px;
}

.h2-servicios1 {
  margin-top: 40px;
  font-size: 2.5rem;
  height: 100px;
  text-align: center;
}

.h2-servicios2 { 
  font-size: 2.5rem;
  height: 200px;
  margin-top: -40px;
  width: auto;
  text-align:center;
  color: #003064;
}

.color1{
  color:#003064;
}

.color2 {
  color: #ffa200;
  
}


.buscador-container {
  background-color: rgba(255, 223, 236, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px;
  margin: -90px auto; /*margin 0px auto hace que el auto se centre horizontalmente*/
  width: 850px;
  border-radius: 25px;
  color: #003064;
}

.buscador {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
}



.input-buscador{
  border-radius: 25px;
  height: 40px;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px #ffffff solid;
  font-size: medium;
  color: #003064;
  /*outline: none;*/ /*el outlline resalta automaticamente el input*/
  outline-color: #0091ff;
}

.input-buscador::placeholder{
  color: #868686;
}

.input-buscador:hover{
  transition: 0.8s;
  border: 2px #0091ff solid;
}

/*Servicios del index traidos de la base de datos*/

.Servicios-Container {/*div padre*/
  display: flex;
  padding: 0px 50px  5px 100px;
}

.divHijo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;/*para que ocupe varias lineas y no una sola*/
  padding-right: 10px;
  margin-left: 10px;
}

.divNieto {
  width:320px;
  align-items: center;
  text-align: center;
  margin: 20px 5px 20px 10px;
  background-color: #ffe7ed;
  border-radius: 20px;
  height: 450px;
  padding: 0px 5px 5px 5px;
}

.divNieto:hover {
  background-color: #ffd6e1;
  transition: 0.3s;
  box-shadow: 4px 4px 7px #ffecf1;
}

.divNieto h3 {
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 5px;
  color:#003064;
}

.divNieto img {
  align-items: center;
  width: 250px;
  height: 260px;
  margin-top: 20px;
  border-radius: 10px;
}

.divNieto p{
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: #003064;
}

/*Contacto*/

#contacto{
  scroll-margin-top: 60px; /* Ajusta según el alto de tu navbar */
}

.container-contacto {
  background-image: linear-gradient();
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0px 40px 0px 40px;
  background-image: url(/css/Imagenes/eclipse-24.png);
  background-size: cover;
  gap:20px;
}

.img-contact img { 
  width: 400px;
  height: 450px;
  border-radius: 30px;
}


.contact {
  width: 40%;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.contact p {
  text-align: start;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 150%;
  color: #003064;
  margin-left: 20px;
  margin-top: 30px;
}

.contact h2 {
  text-align: center;
  justify-content: center;
  font-size: 2.2rem;
  font-family: Arial, serif;
  font-weight: 700;
  color:#003064;
  
}

input::placeholder, textarea::placeholder {
  font-size: 1rem;
  color: #003064;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-row input, .contact-row textarea {
  padding: 10px;
  width: 400px;
  background-color: transparent;
  border: transparent;
  border-bottom: 3px #003064 solid;
  color: #003064;
  font-size: medium;
}

.contact-row input:hover, 
.contact-row textarea:hover {
  border-bottom: 3px #ffa200 solid;
  transition: 0.8s;
}

.contact-row i {
  margin-left: 10px;
}

.contact label {
  display: block;
  text-align: start;
  font-weight: lighter;
  opacity: 0.7;
  margin-left: 160px;
  margin-bottom: 10px;
}

.contact button {
  align-items: center;
  justify-content: center;
  margin-top:  10px;
  padding: 5px 5px ;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 50px;
  width: 120px;
  background-color: rgba(215, 9, 9, 0.005);
  color: #003064;
  border: 3px #003064 solid;
}
.contact button:hover{
  color: #ffa200;
  transition: all 0.8s;
  background-color: rgba(215, 9, 9, 0.005);
  border: 3px #ffa200 solid;
}

/*Modal de envio de formulario exitoso*/
.modal {
  display:none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: #000000a9;
  align-items: center;
  justify-content: center;
}

.modal-contenido {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 3px solid #ff91b0;
}

.modal-contenido h3{
  margin: 20px;
  color: #003064;
  font-size: 1.5rem;
  font-weight: 700;
}

.modal-contenido p{
  margin: 5px;
  color: #003064;
  font-size: 1rem;
  font-weight: 500;
}

.modal-contenido button{
  margin: 20px;
  border: 2px solid #f9dfe7;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: #f9dfe7;
  color: #003064;
  font-size: 1rem;
  font-weight: 600;
}

.modal-contenido button:hover{
  color: white;
  background-color: #fabc5e;
  border: 2px solid #fabc5e;
  transition: 0.4s;
}


/*footer*/

.footer {
  background-color: #ffffffbb;
  padding: 10px;
  font-family: Arial, sans-serif;
  height: 260px;
  width: 100%;
}

.list-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list-footer div {
  margin: 10px;
}

.list-footer h3 {
  color: #003064;
  margin-bottom: 10px;
}


.list-footer a {
  margin: 5px 0;
  color: #003064;
}

.list-footer a:hover{
 color: #fabc5e;
 transition: all 0.7s;
}

.redes {
  margin-bottom: 20px;
}

.redes h3 {
  color: #003064;
  margin-left: 75px;
}

/*gap: margen entre filas y columnas en un grid o flexbox*/
.redes div {
  display: flex;
  gap: 10px;
}


/*iconos de redes en el footer*/

.icon-facebook {
  color: #003064; /* Color de Facebook */
  font-size: 25px; /* Tamaño del icono */
  margin-right: 5px; /* Espacio entre iconos */
}

.icon-facebook:hover {
  color: #fabc5e; /* Color de Facebook */
  font-size: 25px; /* Tamaño del icono */
  margin-right: 5px; /* Espacio entre iconos */
}

.icon-instagram {
  color: #003064; /* Color de Instagram */
  font-size: 29px; /* Tamaño del icono */
  margin-right: 10px; /* Espacio entre iconos */
}

.icon-instagram:hover {
  color: #fabc5e; /* Color de Instagram */
  font-size: 29px; /* Tamaño del icono */
  margin-right: 10px; /* Espacio entre iconos */
}


.linea-divisoria {
  border-top: 1px solid;
  margin: 10px 110px;
  color: #003064;
}

.derechos-reservados {
  display: flex;
  color: #003064;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
}


/* responsive para telefono */

/* responsive para telefono */

@media screen and (max-width: 768px) {
  
  .menu-container{
  width: 200vw;
  justify-content: center;
  }

  .mini-content-portada{
  height: 20vh;
  }

  .isotipo img{
    width: 50vw;
    height: 20vh;
  }

  .button-indice{
    border-radius: 8px;
    padding: 3;
    width: 40vw;
  }

  .contain-button-indice a{
    font-size: 0.8rem;  
  }

  

  .content-navbar{
    background-color: #f9dfe7;
    height: 10vh;
  }

  .menu-icono{
    display: block;
    width: 10vw;;
  }

  .navbar{
    display: none;
  }

  .direccion-spot{
    display: none;
  }

  /*carrusel*/
  .Content-Carousel{
    margin-top: 5px;
    width: 200vw;
    height: 90vh;
    background-image: none;
  }

  .transparency{
    height: 80vh;
  }

  .carousel{
    width: 200vw;
    height: 80vh;
    padding: 0;
    margin: 0;
  }

  .carousel-images img{
    height: 80vh;
  }

  .tittle{
    margin-top: 440px;
    margin-left: -70px;
  }

  .btn-info h2{
    display: none;
  }

  .btn-info button{
    display: none;
  }

  .buscador-container{
    display: none;
  }

/*secion de valores de empresa, Notitas*/

  .sobre-nosotros{
    width: 200vw;
    margin: 20px 0;
    height: auto;
  }

  .sobre-nosotros h2{
    font-size: 4rem;
  }

  .sobre-nosotros h3{
    font-size: 3rem;
  }

  .content-notes{
    display: block;
  }

  .notes{
    width: 150vw;
    height: auto;
    margin: 50px 0;
  }

  .notes h4{
    font-size: 3rem;
  }

  .notes p{
    font-size: 2rem;
  }


  /*Nuestra historia*/
  .historia{
    width: 200vw;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 20vw 0vw;
  }

  .historia-transparency{
    width: auto;
    height: auto;
    display: block;
  }

  .historia-content img{
    display: none;
  }

  .historia-content{
    padding-left: 60px;
  }

  .historia-content h2{
    font-size: 4rem;
  }

  #p1,
  #p2 {
    font-size: 2rem;
  }

  #p1{
    font-weight: 600;
  }

  .historia-content-content{
    display: flex;
  }

  .historia-content-content p{
    font-size: 2rem;
  }

  /*servicios*/
  .content-h2{
    width: 200vw;
    margin-top: 600px;
  }

}


